.Header {
    width: 100%;
    height: 10vh;
    min-height: 50px;
    max-height: 100px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    opacity: 0;
    margin-top: -100px;
    background-color: #0a192f;
    transition: 0.2s ease-out;
}

.ActiveHeader {
    opacity: 0.9;
    margin-top: 0px;
}

.Logo {
    padding-left: 10%;
    transition: filter 0.3s;
}

.Blur {
    filter: blur(2px);
}

.NavItems {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10%;
    width: 40%;
    min-width: 400px;
    max-width: 500px;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    color: #ccd6f6;
    font-family: 'SFMono-Regular';
    font-size: 14px;
}

.NavItem:hover {
    color: #64ffda;
}

.HamburgerIcon {
    margin-right: 20px;
    z-index: 999;
}

@media (min-width: 768px) {
    .HamburgerIcon {
        visibility: hidden;
        opacity: 0;
        position: absolute;
    }

    .NavItems {
        visibility: visible;
        position: relative;
        opacity: 1;
    }
}
