.footer {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.footer p {
    margin: 5px;
    font-family: 'SFMono-Regular';
    color: #ccd6f6;
    text-align: center;
}

.footer a {
    text-decoration: none;
    color: #64ffda;
}
