.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    padding: 0 5vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: filter 0.3s;
}

.Blur {
    filter: blur(5px);
}

@media (min-width: 1368px) {
    .main {
        width: 70%;
    }
}
